<div class="showuser">

<div class="postscontain">
  <div class="allpostsimg">
    <img src="https://20843-presscdn-pagely.netdna-ssl.com/wp-content/themes/pf-youngadventuress-2016/img/map.jpg" />
  </div>
  <h1 class="allpostsheader"><%= @user.fullname %></h1>
</div>

<p class="usershowimage">
  <%= image_tag(@user.image) if @user.image? %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.fullname %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% if user_signed_in? %>
	<% if current_user.id == @user.id %>
	<p class="editdestroy"><%= link_to 'Edit My Account', edit_user_path(@user) %></p>
	           <p class="editdestroy"><%= link_to 'Delete My Account', @user, method: :delete, data: { confirm: 'Are you sure?' } %></p>
	<% end %>
<% end %>
</div>