<%= javascript_include_tag "home" %>
<div class="home">
<div class="homeButtons">
<% if user_signed_in? %>
	<button><%= link_to "My Account", current_user %></button>
	<button><%= link_to "New Post", :new_post %></button>
	<button><%= link_to('Logout', destroy_user_session_path, method: :delete) %></button>
<% end %>
<% if !user_signed_in? %>
	<button class="sign">Sign Up</button>
	<button class="login">Log In</button>
<% end %>
</div>

<div class="headerImage">
	<div class="headerText">
		<h1>CORNERS OF THE WORLD</h1>
		<p>Publish your travel stories</p>
		<div class="signupbutton"><button>SIGN UP NOW</button><i class="fa fa-plane" aria-hidden="true"></i></div>
	</div>
</div>

<div class="signupmodal">
	<span class="signupclose">&times;</span> 
	<%= render 'devise/registrations/form_new' %>
</div>

<div class="loginmodal">
	<span class="loginclose">&times;</span> 
	<%= render 'devise/sessions/form' %>
</div>

<h1 class="imageH">Recent Posts</h1>

<div class="imageGallery">
	<% @posts.each do |p| %>
	<div class="singleImage">
		<%= image_tag(p.image.url) if p.image? %>
		<p class="imagetitle"><%= link_to p.title, p %></p>
		<p class="imageuser">By: <%= p.user.fullname %></p>
	</div>
	<% end %>
</div>


<div class="homePic">
	<img src="https://20843-presscdn-pagely.netdna-ssl.com/wp-content/themes/pf-youngadventuress-2016/img/map.jpg" />
</div>

<footer class="homeFooter">
	© 2017 CornersOfTheWorld.com
</footer>
</div>