<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :post_title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, id: :post_body %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

<div class="field">
  <label>Location</label>
  <input name="post[location]" id="post[location]"></input>
  <button type="button" id="geocoder_submit">First: Click to Calculate Coordinates</button>
  <label>Latitude</label>
  <input name="post[latitude]" id="post[latitude]"></input><br>
  <label>Longitude</label>
  <input name="post[longitude]" id="post[longitude]"></input><br>
</div>

  <div class="actions" id="submit-post">
    <%= form.submit %>
  </div>

<% end %>
