<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<%= image_tag(@post.image.url) if @post.image? %>

<p>
  <strong>Location:</strong>
  <%= @post.location %>
</p>

<p>
	<strong>Comments:</strong>
	<% @post.comments.each do |c| %>
    	<p><%= c.comment %> By: <%= c.user.fullname %></p>
	<% end %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @post.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @post.longitude %>
</p>
<%= javascript_include_tag "map" %>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPJJsoaUUfc25r2O8ZSHIv5pFRHPHgaIc"></script>
<div id="map"></div>


<script>
	let lat = <%= @post.latitude %>;
	let lng = <%= @post.longitude %>;
</script>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
