<!DOCTYPE html>
<html>
  <head>
    <title>Railsblog</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<nav class="nav">
      <ul>
        <li><%= link_to "Home", :root %></li>
        <li><%= link_to "Posts", :posts %></li>
        <li><%= link_to "Users", :users %></li>
        <% if user_signed_in? %>
          <li><%= link_to "New Post", :new_post %></li>
          <li class="log"><button><%= link_to('Logout', destroy_user_session_path, method: :delete) %></button></li>
        <% end %>
        <% if !user_signed_in? %>
          <li class="log"><button class="sign">Sign Up</button></li>
          <li class="log"><button class="login">Log In</button></li>
        <% end %>
      </ul>
	</nav>
    
  <p class="notice"><%= notice %>
  <p class="alert"><%= alert %>

  <%= yield %>
  </body>
</html>
