<!DOCTYPE html>
<html>
  <head>
    <title>Railsblog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<nav>
      <ul>
        <li><%= link_to "Home", :root %></li>
        <li><%= link_to "Posts", :posts %></li>
        <li><%= link_to "Users", :users %></li>
      </ul>
	</nav>
   <%= yield %>
  </body>
</html>
